
.DS_Store

node_modules/
.npm

.eslintcache

*.tsbuildinfo
next-env.d.ts

.next
.vercel
.env*
.swc

src/pages/test-page.tsx
src/pages/api/test-api.ts

coverage

serviceAccountKey.json
credentials.csv
rootkey.csv

.react-email
