.receipt {
  display: none;
  position: fixed;
  height: 100%;
  width: 80%;
  top: 0;
  left: 50%;
  translate: -50%;
  background-color: white;
}

.button {
  font-size: 1rem;
  color: buttontext;
  display: inline-block;
  text-align: center;
  background-color: buttonface;
  margin: 0em;
  padding: 1px 6px;
  border-width: 1px;
  border-radius: 5px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  text-decoration: none;
}

.showButton {
  @extend .button;

  &:focus-within .receipt {
    display: block;
  }
}
