.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.flex {
  display: flex;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.alignCenter {
  align-self: center;
}

.titles h1 {
  font-size: 1.2rem;
}

.smallLogo {
  width: 6rem;
}

.donorDetails {
  font-size: 1.5rem;
  line-height: 150%;
}

.gift {
  font-size: 0.8rem;

  .giftAmount {
    font-size: 3.4rem;
  }
}

.signature {
  align-self: flex-end;

  img {
    width: 10rem;
    border-bottom: 1px solid black;
  }
}

.break {
  height: 1px;
  background-color: black;
  width: calc(100% - 2rem);
  border: none;
}

.largeLogo {
  width: 15rem;
}

.ownRecordsOrg {
  font-size: 1rem;
}

.table {
  border-collapse: separate;
  border-spacing: 0.8rem 0.2rem;
  width: 90%;
}

.textAlignRight {
  text-align: right;
}

.textAlignLeft {
  text-align: left;
}

.tableHeadings th {
  border-bottom: 1px solid black;
}
